################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SchediQ/bin/Debug/net8.0
/SchediQ/obj
/SchediQTests/bin/Debug/net8.0
/SchediQTests/obj
